@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@using FenixAlliance
@using FenixAlliance.ABS.Portal.Core
@using FenixAlliance.ACL.i18n.Resources
@using FenixAlliance.ACL.Configuration.Types
@using SharedResources = FenixAlliance.ABS.Portal.UI.Resources.SharedResources

@inject IViewLocalizer Localizer
@inject IConfiguration Configuration
@inject SuiteOptions SuiteOptions
@inject IHtmlLocalizer<SharedResources> _

<style>
    .footer-black {
        background: #232323;
        background: radial-gradient(ellipse at center,#0D0E1F 0%,#0D0E1F 100%);
        background-size: 550% 450%;
    }
</style>

<footer class="footer footer-black footer-big text-white" style="background-color:#F2F2F2;">
    <div class="container ">
        <div class="content">
            <hr style="margin-bottom:30px;" />
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <center><img src="@(SuiteOptions?.ABS?.Portal?.Options?.Branding?.HeaderLogo?.DefaltLogoURL ?? "/images/logo.svg")" width="@(SuiteOptions?.ABS?.Portal?.Options?.Branding?.HeaderLogo?.Width ?? 90)" height="@(SuiteOptions?.ABS?.Portal?.Options?.Branding?.HeaderLogo?.Height ?? 32)"></center>
                    </a>
                    <p class="text-center">@_[@Configuration["ABS:Portal:Branding:Organization:Slogan"] ?? "Reach Beyond Expectations."]</p>
                    <center>
                        <strong>
                            @_["Fenix ​​Alliance Group is a Colombian IT company that specializes in helping businesses and organizations to increase productivity while reducing technology costs by enabling them to collaborate and optimize efficiencies in a cognitive, secure and reliable way."]
                        </strong>
                    </center>
                    <br />
                    <br />
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                    <h5> @_["About"]</h5>
                    <ul class="links-vertical">
                        <li>
                            <a asp-area="Corporate" asp-controller="About" asp-action="Outlook">
                                @_["About us"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="ID" asp-controller="Account" asp-action="Index">
                                @_["Alliance ID"]
                            </a>
                        </li>

                        <li>
                            <a asp-area="Sustainability" asp-controller="Home" asp-action="Index">
                                @_["Sustainability"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Corporate" asp-controller="Careers" asp-action="Index">
                                @_["Work with us"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Partner" asp-controller="Home" asp-action="Index">
                                @_["Partners &amp; affiliates"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Startups" asp-controller="Home" asp-action="Index">
                                @_["Alliance for Entrepreneurs"]
                            </a>
                        </li>

                        <li>
                            <a asp-area="Corporate" asp-controller="Home" asp-action="Index">
                                @_["Investors &amp; sponsors"]
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                    <h5>@_["Quick links"]</h5>
                    <ul class="links-vertical">

                        <li>
                            <a asp-area="Store" asp-controller="Home" asp-action="Index">
                                @_["Infinity Comex"]
                            </a>
                        </li>
                        <li>
                            <a href="https://www.fenixalliance.com.co/Hosting">
                                @_["Computeworks Cloud"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Technologies" asp-controller="Services" asp-action="Index">
                                @_["Services Marketplace"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Social" asp-controller="Businesses" asp-action="Index">
                                @_["Business Center"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Sales" asp-controller="Home" asp-action="Index">
                                @_["Sales Center"]
                            </a>
                        </li>
                        <li>
                            <a asp-area="Support" asp-controller="Home" asp-action="Index">@_["Customer Support"]</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://sic.gov.co/">@_["SIC.GOV.CO"] </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                    <h5>@_["Legal"] </h5>
                    <ul class="links-vertical">
                        <li>
                            <a asp-area="Legal" asp-controller="Home" asp-action="Index">@_["Trust Center"]</a>
                        </li>
                        <li>
                            <a asp-area="Legal" asp-controller="Policies" asp-action="CookiePolicy">@_["Cookie Policy"]</a>
                        </li>
                        <li>
                            <a asp-area="Legal" asp-controller="Policies" asp-action="CommercialPolicy">@_["Commercial Policy"]</a>
                        </li>
                        <li>
                            <a asp-area="Legal" asp-controller="Policies" asp-action="RefundPolicy">@_["Return Policy"]</a>
                        </li>
                        <li>
                            <a asp-area="Legal" asp-controller="Policies" asp-action="ReturnPolicy">@_["Refund Policy"]</a>
                        </li>
                        <li>
                            <a asp-area="Legal" asp-controller="Policies" asp-action="PrivacyPolicy">@_["Privacy Policy"]</a>
                        </li>
                        <li>
                            <a asp-area="Legal" asp-controller="Policies" asp-action="TermsAndConditions">@_["Terms and conditions"] </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 text-center">

                    <div class="col-md-12">
                        <h5>@_["Subscribe to our Newsletter"] </h5>
                        <p>
                            @_["Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this."]
                        </p>
                        <a asp-area="" asp-controller="Newsletters" asp-action="Subscribe" class="btn btn-social btn-fill btn-primary">
                            <i class="fas fa-envelope"></i>&nbsp; @_["Subscribe"]
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=HmUDosgejEGdoSKDKZviaRiThE10_5JNolwF4Ozij-JUREJFSVNZR0pSNUJHNEIyWlBYWThSSkVNQS4u" target="_blank" class="btn btn-social btn-fill btn-outline-info">
                            <i class="fas fa-lightbulb"></i>&nbsp;@_["Give us Feedback!"]
                        </a>
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <hr>

        <b>@_["LET'S GET SOCIAL!"]</b>

        <ul class="social-buttons">
            <li>
                <a href="https://twitter.com/fenixalliance" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/FenixAlliance" target="_blank" class="btn btn-just-icon btn-link btn-facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/FenixAlliance/" target="_blank" class="btn btn-just-icon btn-link" style="color:#0077B5;">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/fenixalliancegroup/" target="_blank" class="btn btn-just-icon btn-link" style="color:#fd1d1d;">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/FenixAlliance" target="_blank" class="btn btn-just-icon btn-link" style="color:black;">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.microsoft.com/es-co/solution-providers/partnerdetails/fenix-alliance-sas_a203651e-1ec8-418c-9da1-2283299be269/06088e84-c7fc-4a80-ac01-5a714bcb120f" target="_blank" class="btn btn-just-icon btn-link" style="color:black;">
                    <i class="fab fa-microsoft"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCMzdCFA6KU4dBlHMDtX-xuA/" target="_blank" class="btn btn-just-icon btn-link" style="color:#ff0000;">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>

        <div class="copyright pull-center">
            <br />@_["Copyright"] &copy; @DateTime.Now.Year &nbsp;
            <a asp-area="" asp-controller="Home" asp-action="Index">@_[SuiteOptions?.ABS?.Portal.Options.Seo.Organization.LegalName ?? "Fenix Alliance Inc."]</a>
        </div>
    </div>
</footer>