@model List<FenixAlliance.ABM.Models.Social.Notifications.Notification>
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal
@using Microsoft.AspNetCore.Mvc.Localization
@using FenixAlliance
@using FenixAlliance.ABS.Portal.UI.i18n.Resources
@using SharedResources = FenixAlliance.ABS.Portal.UI.Resources.SharedResources

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> _

@{
    var DisplayCount = 0;
}


<script>
    // DeleteNotification
    function DeleteNotification(NotificationID) {
        var Selector = '#' + NotificationID;
        $(Selector).attr("disabled", true);
        $(Selector).css('cursor', 'wait');
        $.ajax({
            url: '/api/v2/Social/Notifications/' + NotificationID,
            type: 'DELETE',
            contentType: 'application/json; charsetNotificationIDutf-8',
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
        }).done(function (result) {
            $(Selector).css('cursor', 'pointer');
            var nc = parseInt($("#NotificationCount").text())
            $("#NotificationCount").replaceWith("<div class=\"label-avatar bg-purple\" id=\"NotificationCount\">" + (nc - 1) + "</div>");
            toastr.info('Removed', 'Notification removed');
            $(Selector).fadeOut('slow', function () { $(Selector).remove(); });
        });
    }
</script>

<div class="control-icon more has-items">
    <i class="fas fa-bell fa-2x"></i>
    <div class="label-avatar bg-purple" id="NotificationCount">@Model.Count()</div>

    <div class="more-dropdown more-with-triangle triangle-top-center">
        <div class="ui-block-title ui-block-title-small">
            <h6 class="title">@_["Your Notifications"]</h6>
            <a href="#">@_["Mark all as read"]</a>
            <a href="#">@_["Settings"]</a>
        </div>
        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list chat-message">

                @if (@Model.Count() == 0)
                {
                    <li>
                        <div class="author-thumb">
                            <img src="~/dashboard/img/badge9.png" style="max-height:30px;" alt="Notification">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">@_["You don't have notifications."]</a>
                            <span class="chat-message-item">@_["Good job! You are up to date."]</span>
                        </div>
                    </li>
                }
                else
                {
                    @foreach (var Notification in Model.OrderByDescending(c => c.IssuedTimestamp))
                    {
                        if (Notification.Readed == false)
                        {
                            <li id="@Notification.ID">
                                <div class="author-thumb">
                                    <img style="max-height:30px;" src="~/dashboard/img/badge9.png" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a asp-area="ID" asp-controller="MyNotifications" asp-action="MarkAsReaded" asp-route-id="@Notification.ID" class="h6 notification-friend">@_["Unreaded"]</a>
                                    <span class="chat-message-item">@Html.Raw(Notification.Message)</span>
                                    <span class="notification-date" data-livestamp="@Notification.IssuedTimestamp.ToString("yyyy-MM-ddTHH:mm:ssZ")"></span>
                                </div>
                                <div class="more">
                                    <a href="#" onclick="DeleteNotification('@Notification.ID')"> <i class="fas fa-trash-alt"></i></a>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        <a asp-area="ID" asp-controller="MyNotifications" asp-action="Index" class="view-all bg-purple">@_["View All Notifications"]</a>
    </div>
</div>



















