@model FenixAlliance.ABM.Models.Marketing.Newsletters.NewsletterSubscription

@{

}

<h5>@_["Subscribe to our Newsletter"] </h5>
<p>
    @_["Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this."]
</p>
<form class="form form-newsletter" asp-area="Marketing" asp-controller="NewsletterSubscriptions" asp-action="Create" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group bmd-form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-just-icon" name="button">
        <i class="fas fa-envelope"></i>
    </button>
    
</form>










